body{
  font-family: "Roboto", sans-serif;
  display: grid;
  place-content: center;
  height: auto;
  padding-bottom: 50px;
}
.main-container{
  display: grid;
  place-content: center;
  margin-top: 200px;
  max-width: fit-content;
  
  
  
}
.question-container{
  
  font-weight:bold;
  font-style: normal;
  color: #3b230b;
}

.next-button-container{
  display: grid;
  place-content: center;
}

.next-button{
  
  margin-top: 30px;
  border: none;
  background-color: #412508;
  color: white;
  padding: 6px 15px 6px 15px;
  border-radius: 20px;
  max-width: 70px;
  max-height: 50px;
  cursor: pointer;

}

.spacer{
  margin-bottom: 50px;
}
.option-spacer{
  margin-bottom: 10px;
}

.mcq-option{
  font-size: 15px;
  background-color: #c49665;
  display: grid;
  place-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.right-answer{
  background-color: lightgreen;
}

.wrong-answer{
  background-color: rgb(221, 89, 89);
}